In [1]:
import pandas as pd

In [4]:
bill_info = pd.read_csv('./ams/2020/202001201500/ams__billgen_2020__202001201500.csv')
cargo_desc = pd.read_csv('./ams/2020/202001201500/ams__cargodesc_2020__202001201500.csv')
cosignee = pd.read_csv('./ams/2020/202001201500/ams__consignee_2020__202001201500.csv')
container = pd.read_csv('./ams/2020/202001201500/ams__container_2020__202001201500.csv')
hazmat = pd.read_csv('./ams/2020/202001201500/ams__hazmat_2020__202001201500.csv')
hazmat_class = pd.read_csv('./ams/2020/202001201500/ams__hazmatclass_2020__202001201500.csv')
header = pd.read_csv('./ams/2020/202001201500/ams__header_2020__202001201500.csv')
mark_number = pd.read_csv('./ams/2020/202001201500/ams__marksnumbers_2020__202001201500.csv')
notified_party = pd.read_csv('./ams/2020/202001201500/ams__notifyparty_2020__202001201500.csv')
shipper = pd.read_csv('./ams/2020/202001201500/ams__shipper_2020__202001201500.csv')
tariff = pd.read_csv('./ams/2020/202001201500/ams__tariff_2020__202001201500.csv')

In [6]:
bill_info.head()

,identifier,master_bol_number,house_bol_number,sub_house_bol_number,voyage_number,bill_type_code,manifest_number,trade_update_date,run_date
0,202001060,APLUSHBW014713,SWOESH1S01451870,NaN,0DB4P,House Bill,1.0,2019-07-17,2020-01-06
1,202001061,APLUSHBW014714,SWOESH1S01451855,NaN,0DB4P,House Bill,1.0,2019-07-17,2020-01-06
2,202001062,OOLU2107899100,NaN,NaN,028E,Regular Bill,398798.0,2020-01-05,2020-01-06
3,202001063,OOLU2107932870,NaN,NaN,028E,Regular Bill,398798.0,2020-01-05,2020-01-06
4,202001064,OOLU2107974500,NaN,NaN,035E,Regular Bill,398773.0,2020-01-05,2020-01-06

In [7]:
cargo_desc.head()

,identifier,container_number,description_sequence_number,piece_count,description_text
0,202001060,TEMU6512740,1,18.0,ANTENNA
1,202001061,GESU6641198,1,16.0,ANTENNA
2,202001062,OOLU1809656,1,NaN,DECORATIVE TERRACOTTA VASE BOWL
3,202001062,OOLU1809656,2,9.0,CHRISTMAS ORNAMENT BURI FIBER NAUGHTY DOG
4,202001062,OOLU1809656,3,19.0,DECORATIVE HANDMADE EARTHENWARE TILE WALL ART

In [8]:
cosignee.head()

,identifier,consignee_name,consignee_address_1,consignee_address_2,consignee_address_3,consignee_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001060,QUINTEL USA INC.,"33300 DOWE AVE. UNION CITY, CALIFOR","NIA, 94587, USA",NaN,NaN,OAKLAND,CA,94587,US,NaN,NaN,NaN
1,202001061,QUINTEL USA INC.,"33300 DOWE AVE. UNION CITY, CALIFOR","NIA, 94587, USA",NaN,NaN,OAKLAND,CA,94587,US,NaN,NaN,NaN
2,202001062,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
3,202001063,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
4,202001064,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523

In [10]:
container.head()

,identifier,container_number,seal_number_1,seal_number_2,equipment_description_code,container_length,container_height,container_width,container_type,load_status,type_of_service
0,202001060,TEMU6512740,O1569143,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
1,202001061,GESU6641198,K8564655,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
2,202001062,OOLU1809656,OOLFEY3491,NaN,G1,2000,806,800,22G1,Loaded,House to House
3,202001063,OOLU9729032,OOLFUB5598,NaN,G1,4000,900,800,45G1,Loaded,House to House
4,202001064,OOLU9418215,OOLFUB5716,NaN,G1,4000,900,800,45G1,Loaded,House to House

In [11]:
hazmat.head()

,identifier,container_number,hazmat_sequence_number,hazmat_code,hazmat_class,hazmat_code_qualifier,hazmat_contact,hazmat_page_number,hazmat_flash_point_temperature,hazmat_flash_point_temperature_negative_ind,hazmat_flash_point_temperature_unit,hazmat_description
0,2020010618,CMAU4677843,1,3077,NaN,U,NaN,NaN,000,NaN,NaN,NaN
1,2020010619,CMAU4677843,1,3077,NaN,U,NaN,NaN,000,NaN,NaN,NaN
2,2020010622,CMAU4677843,1,1197,NaN,U,NaN,NaN,000,NaN,NaN,NaN
3,20200106398,BSIU2619753,1,3288,6.1,I,NaN,NaN,000,NaN,NaN,SODIUM DICHROMATE CRYSTALS
4,20200106398,TGCU2139859,1,3288,6.1,I,NaN,NaN,000,NaN,NaN,SODIUM DICHROMATE CRYSTALS

In [12]:
hazmat_class.head()

,identifier,container_number,hazmat_sequence_number,hazmat_classification
0,202001063287,TRHU3783906,1,3
1,2020010615887,HJMU4423831,1,6.1
2,2020010616465,TEMU8281785,1,3
3,2020010626242,TCKU2355870,1,6.1
4,2020010626248,TCKU2355870,1,6.1

In [13]:
header.head()

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,202001060,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",18,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
1,202001061,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",16,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
2,202001062,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",568,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
3,202001063,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",242,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
4,202001064,OOLU,TW,EVER LOYAL,"Savannah, Georgia",2019-09-03,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",317,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06

In [14]:
mark_number.head()

,identifier,container_number,marks_and_numbers_1,marks_and_numbers_2,marks_and_numbers_3,marks_and_numbers_4,marks_and_numbers_5,marks_and_numbers_6,marks_and_numbers_7,marks_and_numbers_8
0,202001060,TEMU6512740,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202001061,GESU6641198,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202001062,OOLU1809656,SKU#:,4960113,DES:,DECORATIVE,TERRACOTTA,VASE BOWL,PO:,21002700PBR
3,202001062,OOLU1809656,QTY:,MADE IN,PHILIPPINES,FOR POTTERY,BARN,WEIGHT:,SKU#:,2963789
4,202001062,OOLU1809656,DES:,BOTTLEBRUSH,FLZ NGHTY,DOG ORNM,PO:,20991407PBR,QTY: 24 PCS,MADE IN THE

In [15]:
notified_party.head()

,identifier,notify_party_name,notify_party_address_1,notify_party_address_2,notify_party_address_3,notify_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001062,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202001062,EXPEDITORS INTERNATIONAL OF WASHING,"6005 FREEPORT AVE., SUITE 102",MEMPHIS TN,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202001063,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202001063,EXPEDITORS INTERNATIONAL OF WASHING,"6005 FREEPORT AVE., SUITE 102",MEMPHIS TN,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202001064,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
shipper.head()

,identifier,shipper_party_name,shipper_party_address_1,shipper_party_address_2,shipper_party_address_3,shipper_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001060,LEADTONE COMMUNICATION TECHNOLOIES,"NO.8 XINHUA ROAD XINWU ZONE WUXI,JI",ANGSU,214028 P.R.CHINA,NaN,JIANGSU,NaN,NaN,CN,NaN,NaN,NaN
1,202001061,SUZHOU DONGSHAN PRECISION MANUFACTU,"8 FENGHUANGSHAN RD,DONGSHAN INDUSTR",IAL PART,"WUZHONG DIST,SUZHOU JS",NaN,SHANGHAI,NaN,NaN,CN,NaN,NaN,NaN
2,202001062,DAMCO PHILIPPINES,9/F ONE E-COM CENTER HARBOR DRIVE C,PASAY CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,9769550
3,202001063,CALFURN MANUFACTURING PHILIPPINES I,MANGA ROAD PULUNGBULO,ANGELES CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,6366403
4,202001064,CALFURN MANUFACTURING PHILIPPINES I,MANGA ROAD PULUNGBULO,ANGELES CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,6366403

In [17]:
tariff.head()

,identifier,container_number,description_sequence_number,harmonized_number,harmonized_value,harmonized_weight,harmonized_weight_unit
0,2020010624,BMOU5228886,1,8451.0,0.0,6240,Kilograms
1,2020010625,DFSU6037823,1,8451.0,0.0,3720,Kilograms
2,2020010625,OOCU7660692,1,8451.0,0.0,3720,Kilograms
3,2020010645,CCLU4588527,1,37.0,0.0,11186,Kilograms
4,2020010647,SZLU9393339,1,37.0,0.0,18496,Kilograms