In [3]:
import pandas as pd

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
# Header tables
header = pd.read_csv('./ams/2020/202001201500/ams__header_2020__202001201500.csv', nrows=50000)
bill_info = pd.read_csv('./ams/2020/202001201500/ams__billgen_2020__202001201500.csv', nrows=50000)

# Cargo tables
cargo_desc = pd.read_csv('./ams/2020/202001201500/ams__cargodesc_2020__202001201500.csv', nrows=50000)
hazmat = pd.read_csv('./ams/2020/202001201500/ams__hazmat_2020__202001201500.csv', nrows=50000)
hazmat_class = pd.read_csv('./ams/2020/202001201500/ams__hazmatclass_2020__202001201500.csv', nrows=50000)
tariff = pd.read_csv('./ams/2020/202001201500/ams__tariff_2020__202001201500.csv', nrows=50000)

# Contact tables
cosignee = pd.read_csv('./ams/2020/202001201500/ams__consignee_2020__202001201500.csv', nrows=50000)
notified_party = pd.read_csv('./ams/2020/202001201500/ams__notifyparty_2020__202001201500.csv', nrows=50000)
shipper = pd.read_csv('./ams/2020/202001201500/ams__shipper_2020__202001201500.csv', nrows=50000)

# Container tables
container = pd.read_csv('./ams/2020/202001201500/ams__container_2020__202001201500.csv', nrows=50000)
mark_number = pd.read_csv('./ams/2020/202001201500/ams__marksnumbers_2020__202001201500.csv', nrows=50000)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (17,18,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
header

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,weight,weight_unit,measurement,measurement_unit,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination_qualifier,foreign_port_of_destination,conveyance_id_qualifier,conveyance_id,in_bond_entry_type,mode_of_transportation,secondary_notify_party_1,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,202001060,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",18,PKG,5200,Kilograms,0,NaN,Amended,SHANGHAI CHINA,NaN,NaN,NaN,IMO Number/Lloyds Number,9295220,NaN,"Vessel, containerized",APLU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
1,202001061,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",16,PKG,4375,Kilograms,0,NaN,Amended,SHANGHAI CHINA,NaN,NaN,NaN,IMO Number/Lloyds Number,9295220,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
2,202001062,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",568,CTN,1981,Kilograms,0,Cubic Meters,Amended,MANILA,NaN,NaN,NaN,IMO Number/Lloyds Number,9665621,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
3,202001063,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",242,CTN,3431,Kilograms,0,Cubic Meters,Amended,MANILA,NaN,NaN,NaN,IMO Number/Lloyds Number,9665621,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
4,202001064,OOLU,TW,EVER LOYAL,"Savannah, Georgia",2019-09-03,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",317,CTN,1766,Kilograms,0,Cubic Meters,Amended,MANILA,NaN,NaN,NaN,IMO Number/Lloyds Number,9604158,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020010649982,EGET,US,YORKTOWN EXPRESS,"Charleston, South Carolina",2020-01-03,Schedule K Foreign Port,"Anvers,Belgium",41,PKG,17953,Kilograms,0,NaN,New,GEVELSBERG GERMAN,NaN,NaN,NaN,IMO Number/Lloyds Number,9243174,NaN,"Vessel, containerized",ACLU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-04
49996,2020010649983,EGET,US,YORKTOWN EXPRESS,"Charleston, South Carolina",2020-01-03,Schedule K Foreign Port,"Anvers,Belgium",122,PKG,1341,Kilograms,0,NaN,New,SAARLOUIS GERMANY,NaN,NaN,NaN,IMO Number/Lloyds Number,9243174,NaN,"Vessel, containerized",ACLU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-04
49997,2020010649984,AMZD,DE,HANOVER EXPRESS,"Long Beach, California",2020-01-06,Schedule K Foreign Port,"Ningpo ,China (Mainland)",619,CTN,8030,Kilograms,0,NaN,New,NINGPO,NaN,NaN,NaN,Conveyance Name,HANOVER EXPRESS,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-05
49998,2020010649985,DFDS,PA,ONE COSMOS,"Tacoma, Washington",2020-01-01,Schedule K Foreign Port,"Yantian,China (Mainland)",17,CTN,324,Kilograms,0,NaN,New,YANTIAN PT,NaN,NaN,NaN,IMO Number/Lloyds Number,9388340,NaN,"Vessel, containerized",DFDS,ONEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-05
49999,2020010649986,VHFL,DE,HANOVER EXPRESS,"Long Beach, California",2020-01-03,Schedule K Foreign Port,"Ningpo ,China (Mainland)",10,PKG,4464,Kilograms,0,Cubic Meters,New,NINGBO,NaN,NaN,NaN,IMO Number/Lloyds Number,9343716,NaN,"Vessel, containerized",VHFL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-05

In [7]:
header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 34 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   identifier                             50000 non-null  int64
 1   carrier_code                           50000 non-null  object
 2   vessel_country_code                    50000 non-null  object
 3   vessel_name                            50000 non-null  object
 4   port_of_unlading                       50000 non-null  object
 5   estimated_arrival_date                 50000 non-null  object
 6   foreign_port_of_lading_qualifier       50000 non-null  object
 7   foreign_port_of_lading                 50000 non-null  object
 8   manifest_quantity                      50000 non-null  int64
 9   manifest_unit                          50000 non-null  object
 10  weight                                 50000 non-null  int64
 11  weight_unit                            50000 non-null  object
 12  measurement                            50000 non-null  int64
 13  measurement_unit                       35134 non-null  object
 14  record_status_indicator                50000 non-null  object
 15  place_of_receipt                       49999 non-null  object
 16  port_of_destination                    4213 non-null   object
 17  foreign_port_of_destination_qualifier  119 non-null    object
 18  foreign_port_of_destination            121 non-null    object
 19  conveyance_id_qualifier                50000 non-null  object
 20  conveyance_id                          50000 non-null  object
 21  in_bond_entry_type                     4213 non-null   object
 22  mode_of_transportation                 50000 non-null  object
 23  secondary_notify_party_1               17396 non-null  object
 24  secondary_notify_party_2               1411 non-null   object
 25  secondary_notify_party_3               14 non-null     object
 26  secondary_notify_party_4               0 non-null      float64
 27  secondary_notify_party_5               0 non-null      float64
 28  secondary_notify_party_6               0 non-null      float64
 29  secondary_notify_party_7               0 non-null      float64
 30  secondary_notify_party_8               0 non-null      float64
 31  secondary_notify_party_9               0 non-null      float64
 32  secondary_notify_party_10              0 non-null      float64
 33  actual_arrival_date                    50000 non-null  object
dtypes: float64(7), int64(4), object(23)
memory usage: 13.0+ MB

The header dataset will be a part of the fact table. We will be keeping the follow columns.

- identifier
- carrier_code
- vessel_country_code
- vessel_name
- port_of_unlading
- estimated_arrival_date
- foreign_port_of_lading_qualifier
- foreign_port_of_lading
- manifest_quantity
- manifest_unit
- weight
- weight_unit
- record_status_indicator
- place_of_receipt
- port_of_destination
- foreign_port_of_destination_qualifier
- foreign_port_of_destination
- conveyance_id_qualifier
- conveyance_id
- mode_of_transportation
- actual_arrival_date

In [8]:
bill_info

,identifier,master_bol_number,house_bol_number,sub_house_bol_number,voyage_number,bill_type_code,manifest_number,trade_update_date,run_date
0,202001060,APLUSHBW014713,SWOESH1S01451870,NaN,0DB4P,House Bill,1.0,2019-07-17,2020-01-06
1,202001061,APLUSHBW014714,SWOESH1S01451855,NaN,0DB4P,House Bill,1.0,2019-07-17,2020-01-06
2,202001062,OOLU2107899100,NaN,NaN,028E,Regular Bill,398798.0,2020-01-05,2020-01-06
3,202001063,OOLU2107932870,NaN,NaN,028E,Regular Bill,398798.0,2020-01-05,2020-01-06
4,202001064,OOLU2107974500,NaN,NaN,035E,Regular Bill,398773.0,2020-01-05,2020-01-06
...,...,...,...,...,...,...,...,...,...
49995,2020010649988,ONEYNB9BQ3255700,NaN,NaN,086E,Master Bill,1.0,2019-12-18,2020-01-06
49996,2020010649989,ONEYHKGVQ5814900,FLXTFCNUS669901A,NaN,072E,House Bill,1.0,2019-12-17,2020-01-06
49997,2020010649990,ONEYHAMVD9313600,NaN,NaN,005W,Master Bill,1.0,2019-12-23,2020-01-06
49998,2020010649991,ONEYNB9BI4999300,CEXQ603G00645NBA,NaN,086E,House Bill,1.0,2019-12-17,2020-01-06
49999,2020010649992,ONEYNB9BI6001700,CEXQ603G00610NBC,NaN,086E,House Bill,1.0,2019-12-17,2020-01-06

In [9]:
bill_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   identifier            50000 non-null  int64
 1   master_bol_number     50000 non-null  object
 2   house_bol_number      21515 non-null  object
 3   sub_house_bol_number  0 non-null      float64
 4   voyage_number         50000 non-null  object
 5   bill_type_code        50000 non-null  object
 6   manifest_number       49987 non-null  float64
 7   trade_update_date     50000 non-null  object
 8   run_date              50000 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.4+ MB

The bill info dataset will be combined with the header dataset to produce the fact table. We will be keeping the following columns.

- identifier
- voyage_number
- bill_type_code
- manifest_number
- trade_update_date
- run_date

In [10]:
cargo_desc

,identifier,container_number,description_sequence_number,piece_count,description_text
0,202001060,TEMU6512740,1,18.0,ANTENNA
1,202001061,GESU6641198,1,16.0,ANTENNA
2,202001062,OOLU1809656,1,NaN,DECORATIVE TERRACOTTA VASE BOWL
3,202001062,OOLU1809656,2,9.0,CHRISTMAS ORNAMENT BURI FIBER NAUGHTY DOG
4,202001062,OOLU1809656,3,19.0,DECORATIVE HANDMADE EARTHENWARE TILE WALL ART
...,...,...,...,...,...
49995,2020010619776,MSKU7056943,1,15.0,SYNTHETIC RUBBER P/O : 450131 4249 CUSTOMER P/...
49996,2020010619776,GLDU0396187,1,15.0,SYNTHETIC RUBBER P/O : 450131 4249 CUSTOMER P/...
49997,2020010619777,MAEU9165328,1,7.0,PLANT STAND PO# 8120476361 FREIGHT COLLECT THI...
49998,2020010619778,APHU7396918,1,42.0,ALDI SPAGHETTIS VARIETY BOX SIMPLY NATURE 18X2...
49999,2020010619778,APHU7396918,1,NaN,OG GF EDAMAME SPAGHETTI US ALDI EXPLORE CUISIN...

In [11]:
cargo_desc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   identifier                   50000 non-null  int64
 1   container_number             50000 non-null  object
 2   description_sequence_number  50000 non-null  int64
 3   piece_count                  33049 non-null  float64
 4   description_text             49999 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.9+ MB

The cargo description dataset will be a part of the cargo table. We will keep these columns.

- identifier
- container_number
- description_text
- piece_count
- description_text

In [12]:
hazmat

,identifier,container_number,hazmat_sequence_number,hazmat_code,hazmat_class,hazmat_code_qualifier,hazmat_contact,hazmat_page_number,hazmat_flash_point_temperature,hazmat_flash_point_temperature_negative_ind,hazmat_flash_point_temperature_unit,hazmat_description
0,2020010618,CMAU4677843,1,3077,NaN,U,NaN,NaN,000,NaN,NaN,NaN
1,2020010619,CMAU4677843,1,3077,NaN,U,NaN,NaN,000,NaN,NaN,NaN
2,2020010622,CMAU4677843,1,1197,NaN,U,NaN,NaN,000,NaN,NaN,NaN
3,20200106398,BSIU2619753,1,3288,6.1,I,NaN,NaN,000,NaN,NaN,SODIUM DICHROMATE CRYSTALS
4,20200106398,TGCU2139859,1,3288,6.1,I,NaN,NaN,000,NaN,NaN,SODIUM DICHROMATE CRYSTALS
...,...,...,...,...,...,...,...,...,...,...,...,...
34191,2020011457269,SEGU5258506,1,2211,9,U,800-424-9300,FASI,000,NaN,NaN,"POLYMERIC BEADS, EXPANDABLE"
34192,2020011457269,BSIU9443795,1,2211,9,U,800-424-9300,FASI,000,NaN,NaN,"POLYMERIC BEADS, EXPANDABLE"
34193,2020011457802,6931988,1,2794,8,I,NaN,NaN,000,NaN,NaN,BATTERIES WET FILLED WITH ACID
34194,2020011458490,SEGU8106580,1,UN1202,3-07,U,PERS CONTACT 8834,NaN,000,NaN,NaN,GAS OIL DIESEL FUEL N/A
34195,2020011458611,TCNU4728345,1,3491,6.1,U,NaN,NaN,000,NaN,NaN,NaN

In [13]:
hazmat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34196 entries, 0 to 34195
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   identifier                                   34196 non-null  int64
 1   container_number                             34196 non-null  object
 2   hazmat_sequence_number                       34196 non-null  int64
 3   hazmat_code                                  34196 non-null  object
 4   hazmat_class                                 22798 non-null  object
 5   hazmat_code_qualifier                        34196 non-null  object
 6   hazmat_contact                               17152 non-null  object
 7   hazmat_page_number                           11046 non-null  object
 8   hazmat_flash_point_temperature               34196 non-null  object
 9   hazmat_flash_point_temperature_negative_ind  2709 non-null   object
 10  hazmat_flash_point_temperature_unit          13428 non-null  object
 11  hazmat_description                           21271 non-null  object
dtypes: int64(2), object(10)
memory usage: 3.1+ MB

In [15]:
hazmat.hazmat_class.unique()

array([nan, '6.1', '2.1', '3', '9', '8', '5.1', '4.1', '1.4G', '2.2', '1',
       '4.3', '2.3', '2', '5.2', '4.2', '1.3G', '1.3C', '3-07', '1.4S',
       '1.3', '1.4', '8(3)', '7', 'F-A,', '2-10', 'F-A', '9.0', 'F-E,',
       'III', '3(8)', '2-08', '2-04', '5.7', '3.3', '2-07', '8.0', 'F-C,',
       'F-E', '6', '15', '3.0', 'FA-S', 'F-D,', 'F-C', '8-10', '1.1D',
       '08'], dtype=object)

The hazmat dataset will go into the cargo dataset. And we will be keeping these columns.

- identifier
- container_number
- hazmat_code
- hazmat_class
- hazmat_code_qualifier
- hazmat_contact
- hazmat_page_number
- hazmat_flash_point_temperature
- hazmat_flash_point_temperature_negative_ind
- hazmat_flash_point_temperature_unit
- hazmat_description

In [16]:
hazmat_class

,identifier,container_number,hazmat_sequence_number,hazmat_classification
0,202001063287,TRHU3783906,1,3
1,2020010615887,HJMU4423831,1,6.1
2,2020010616465,TEMU8281785,1,3
3,2020010626242,TCKU2355870,1,6.1
4,2020010626248,TCKU2355870,1,6.1
...,...,...,...,...
905,2020011551841,KOSU2213955,4,"FLAMMABLE LIQUID, N.O.S."
906,2020011552692,SEGU7608537,1,"BATTERIES, WET, FILLED WI"
907,2020011410520,BSIU9650663,1,ACETYL METHYL CARBINOL
908,2020011412827,NRSU3717097,1,8
909,2020011458490,SEGU8106580,1,GAS OIL DIESEL FUEL

In [17]:
hazmat_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   identifier              910 non-null    int64
 1   container_number        910 non-null    object
 2   hazmat_sequence_number  910 non-null    int64
 3   hazmat_classification   910 non-null    object
dtypes: int64(2), object(2)
memory usage: 28.6+ KB

In [18]:
hazmat_class.hazmat_classification.unique()

array(['3', '6.1', '(2-METHYL-2-PENTENOIC ACID)',
       '(CONTAINS BENZYL BENZOATE)', '(TRANS-2-HEXEN-1-YL ACETATE)',
       '(TRANS-2-HEXENAL)', '(2-METHYL-3-FURANTHIOL)',
       '(2,3-PENTANEDIONE)', '4.3', 'BATTERY FLUID, ACID', 'PG II',
       'CORROSIVE LIQUID ACIDIC ORGANI', '2', 'CHRYSOIDINE',
       'OCTAHYDRO TETRAMETHYL NAPHTHAL ENYL ETHANONE',
       'CONTAINS HEXAMETHYL INDENO PYR ANE',
       'METHACRYLIC ACID-TERT-BUTYLEST ER, STABILIZED',
       '(2,3-HEXANEDIONE)', '(CONTAINS ETHANOL)',
       '(2-METHOXY-3-METHYL PYRAZINE)', 'FUEL, AVIATION, TURBINE E',
       'GASOLINE', '8', 'GAS OIL DIESEL FUEL', 'COMBUSTIBLE ENGINE', '9',
       '3 8', 'SPRAYPAINT AEROSOLS EACH 500 M L', 'LIMONENE',
       '1 703 527 3887', 'CHEMTREC 1 703 527 3887', '1 336 632 7745',
       'CHEMTREC 17035273887', '1 352 323 3500 BENZ A H ANTHRACENE',
       'METHOXYMETHANE', 'L', '12152070061', '80 ACCUMULATORS CONTAINING',
       '1 856 384 7050', '1 856 384 7050 ACRYLIC ACID STABILIZED',
       '1 856 384 7050 A PETROLEUM HEAVY AROMATIC', '1 215 207 0061',
       '58KGS NET QTY NITROGEN', 'CHEMTREC 001 703 527 3887', 'T',
       '1 703 527 3887 EXEN 1 YL 3 BUTEN 2 ONE', 'E', '01204875483',
       '01204875483 ANE TRIACRYLATE', '1 609 744 2765',
       '1 703 527 3887 ULFURIZED HEAVY', 'Packing code',
       'Packing code III', 'Packing code II', 'METHANE, REFRIGERATED LIQ',
       'DIPENTENE', 'HEXYL CINNAMAL', 'HEXYL SALICYLATE',
       'HEXAMETHYLINDANOPYRAN', 'BATTERIES, WET, FILLED WITH AC',
       'LABEL1:2.2', 'LQ', 'ISOBUTYRIC ACID', 'PERFUMERY PRODUCTS',
       'ENGINE, INTERNAL COMBUSTION or', 'VEHICLE, FLAMMABLE LIQUID POWE',
       'C.I. PIGMENT RED 169, 2-(2-HEP TADEC-8-ENYL-2-IMIDAZOLIN-1-YL',
       'PAINT', 'BLACKCURRANT DIST 290115', '5.1',
       'NATURAL GAS REFRIDGERATED LIQU', 'MARINE POLLUTANT', '1',
       'OCTADECYLAMINE, MIXTURE',
       "1,1'-(1,3-PHENYLENE)BIS-1H-2,5 -DIONE, MIXTURE", 'PRINTING INK',
       'FLAMMABLE LIQUID, N.O.S.', 'FLAMMABLE LIQUID, TOXIC,',
       'ACETONE (ACETONE SOLUTION', '2.1', 'ELEVATED TEMPERATURE LIQU',
       'KATALCO 59 5M', 'C.I.SOLVENT YELLOW 89', '18779864267', 'ESIN',
       'CHEMTREC 1 703 527 3887 CID ESTER', 'CHEMTREC 1 703 527 3887 TE',
       'CHEMTREC 1 703 527 3887 O O BIS 2 ETHYLHEXYL AND ISOB',
       '13523233500', 'CHEMTREC 1 703 527 3887 LAMIDE',
       'CHEMTREC 1 703 527 3887 L 1 4 C10 13 ALKYLPHENYL',
       'CHEMTREC 1 703 527 3887 THYL 1 3 PROPANEDIYL DIACRYL',
       '1 877 986 4267', 'AMMONIUM NITRATE EMULSION, 5.1',
       'NITROUS OXIDE', 'ARGON, COMPRESSED', 'HELIUM, COMPRESSED',
       'AEROSOLS', 'PROPANE', 'ACETYL METHYL CARBINOL', '2.2',
       'ISOAMYL SALICYLATE', 'FE/SE', 'FE/SD',
       'LIQUID NATURAL GAS RESIDUE', 'ADHESIVES',
       'CARBON DIOXIDE, REFRIGERA', 'MIXTURE WITH DISODIUM METASILI CATE',
       'LIFE-SAVING APPLIANCES, S',
       'CHEMTREC 1 703 527 3887 E AND ARSENIC',
       '13523233500 BENZ A H ANTHRACENE', 'ASS 8 PGII IMDG CODE F A',
       'CHEMTREC 1 703 527 3887 0 0 BIS 2 ETHYLHEXYLAND ISOBU',
       'CHEMTREC 1 703 527 3887 O O BIS ISO BU AND PENTYL ES',
       'PRIMECOAT Z 838 4', 'D', 'CHEMTREC 1 703 527 3887 TTY ALCOHOL',
       '18002628200', '18002628200 ISOALKANES CYCLICS 5 N HE',
       'CHEMTREC 1 703 527 3887 MINE', '300 GS NET QTY NITROGEN',
       'FURIZED HEAVY WHITE SPIRIT', 'CHEMTREC 1 703 527 3887 ARSENIC',
       'TE', 'TE 2 METHYLISOTHIAZOL 3 2H', 'TE 2 OCTYL 2HISOTHIAZOL 3 ON',
       'DISULFIDE', 'ATED NAPHTHA NAPHTHA PETRO',
       'ALCOHOL ISOPROPANOL ACETON', 'NES ISOALKANES CYCLICS 2',
       '1 703 527 3887 E 3 II D E SPECIAL PRO',
       'CHEMTREC 1 703 527 3887 L 1 4 C10 13 ALKYLPHENYL D',
       'CHEMTREC 1 703 527 3887 THYLAMINE BIS 2 DIMETHYLAMINO',
       'ATE TRIPHENYL PHOSPHATE 25', 'TE TRIPHENYL PHOSPHATE 2 5',
       'E 3 1 TRIPHENYL PHOSPHATE', '1 813 748 0573', '01304 209 954',
       'ENVIRONMENTALLY HAZARDOUS', 'CHLORINE', 'GARY BERZINS', '4.2',
       'BIS(2,2,6,6-TETRAMETHYL-4-PIPE RIDYL) SEBACATE',
       'DITHIOPHOSPHORIC ACID ESTER',
       'ALCOHOLS; C-16-18 AND C18 UNSA TD:; ETHOXYLATES',
       'ANHYDROUS AMMONIA', '2.3', '-', 'III', 'BATTERIES',
       'HYDROGEN, COMPRESSED', 'NITROGEN, COMPRESSED', 'AIR, COMPRESSED',
       'COMPRESSED GAS, N.O.S.', '2.1 8', 'ACETYLENE, DISSOLVED',
       'OXYGEN, COMPRESSED', 'ISOPROPANOL (ISOPROPYL AL',
       'BATTERIES, WET, FILLED WI'], dtype=object)

The hazmat class dataset seems to be supplementary information to the hazmat class dataset. We will be keeping the following columns.

- identifier
- container_number
- hazmat_sequence_number

In [19]:
tariff

,identifier,container_number,description_sequence_number,harmonized_number,harmonized_value,harmonized_weight,harmonized_weight_unit
0,2020010624,BMOU5228886,1,8451.0,0.0,6240,Kilograms
1,2020010625,DFSU6037823,1,8451.0,0.0,3720,Kilograms
2,2020010625,OOCU7660692,1,8451.0,0.0,3720,Kilograms
3,2020010645,CCLU4588527,1,37.0,0.0,11186,Kilograms
4,2020010647,SZLU9393339,1,37.0,0.0,18496,Kilograms
...,...,...,...,...,...,...,...
49995,2020010655169,BEAU5322202,1,3924.0,113471.0,5674,Kilograms
49996,2020010655170,KKFU7852075,1,3924.0,22.0,11402,Kilograms
49997,2020010655171,ONEU0016071,1,95.0,716.0,3575,Kilograms
49998,2020010655171,TRLU9720415,1,95.0,81296.0,4065,Kilograms
49999,2020010655172,GLDU9990271,1,85.0,2630.0,13160,Kilograms

In [20]:
tariff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   identifier                   50000 non-null  int64
 1   container_number             50000 non-null  object
 2   description_sequence_number  50000 non-null  int64
 3   harmonized_number            45423 non-null  float64
 4   harmonized_value             49554 non-null  float64
 5   harmonized_weight            50000 non-null  int64
 6   harmonized_weight_unit       26391 non-null  object
dtypes: float64(2), int64(3), object(2)
memory usage: 2.7+ MB

The tariff dataset will be a part of the cargo table. We will be keeping the following columns.

- identifier
- container_number
- description_sequence_number
- harmonized_number
- harmonized_value
- harmonized_weight
- harmonized_weight_unit

In [22]:
cosignee

,identifier,consignee_name,consignee_address_1,consignee_address_2,consignee_address_3,consignee_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001060,QUINTEL USA INC.,"33300 DOWE AVE. UNION CITY, CALIFOR","NIA, 94587, USA",NaN,NaN,OAKLAND,CA,94587,US,NaN,NaN,NaN
1,202001061,QUINTEL USA INC.,"33300 DOWE AVE. UNION CITY, CALIFOR","NIA, 94587, USA",NaN,NaN,OAKLAND,CA,94587,US,NaN,NaN,NaN
2,202001062,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
3,202001063,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
4,202001064,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020010665890,"EMPRESAS BERRIOS, INC.",(787)653-9393 FAX: (787)739-3331,CARR. NO. 172KM. 12.0,"MRN:0005044-0012, SSN:66-0580021",NaN,1-7876533030 TEL,EX,1-787739,33,NaN,NaN,NaN
49996,2020010665891,CENTENO TIRE DISTRIBUTORS INC.,VILLA EL REY 4 CALLE 11 CC8 (00725),"CAGUAS, PUERTO RICO",MRN# 0068635-0011 SSN # 660-52-2077,NaN,1-7877756688 TEL,EX,1-787993,68,NaN,NaN,NaN
49997,2020010665892,CASA FEBUS INC.,"132 CARR. 174 K.M. 2.1,","ZONA INDUSTRIAL MINILLAS,","BAYAMON,PUERTO RICO 00959",NaN,1-7877877230 TEL,EX,1-787787,72,NaN,NaN,NaN
49998,2020010665893,ECU WORLDWIDE USA,CENTRO MERCANTIL INTERNATIONAL,ROAD 165 KM 2.4 WEST AVE.BLDG 6A,"GUAYNABO, PR 00969",NaN,1-7876203085 TEL,EX,1-787620,28,NaN,NaN,NaN
49999,2020010665894,MAGIC TRANSPORT INC,"PEPSI INDUSTRIAL PARK, PR2 KM 19.5",INTERIOR BO.CANDELARIA MRN 0043777-,SSP#660-40-8035,NaN,1-7875308685 TEL,EX,1-787251,62,NaN,NaN,NaN

In [23]:
cosignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   identifier             50000 non-null  int64
 1   consignee_name         50000 non-null  object
 2   consignee_address_1    50000 non-null  object
 3   consignee_address_2    40884 non-null  object
 4   consignee_address_3    27477 non-null  object
 5   consignee_address_4    5197 non-null   object
 6   city                   13844 non-null  object
 7   state_province         11950 non-null  object
 8   zip_code               11504 non-null  object
 9   country_code           12502 non-null  object
 10  contact_name           728 non-null    object
 11  comm_number_qualifier  9297 non-null   object
 12  comm_number            9296 non-null   object
dtypes: int64(1), object(12)
memory usage: 5.0+ MB

In [24]:
notified_party

,identifier,notify_party_name,notify_party_address_1,notify_party_address_2,notify_party_address_3,notify_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001062,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202001062,EXPEDITORS INTERNATIONAL OF WASHING,"6005 FREEPORT AVE., SUITE 102",MEMPHIS TN,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202001063,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202001063,EXPEDITORS INTERNATIONAL OF WASHING,"6005 FREEPORT AVE., SUITE 102",MEMPHIS TN,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202001064,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020010665039,"LUPA FOODS LTD SUITE A31, ELSTREE","TOWER, ELSTREE WAY BOREHAMWOOD HRT","WD6 1SD - HRT, GREAT BRITAIN I",CONTACT TEL 02082362222 FAX EMAIL,LFARMERDONATANTONIO. CORN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,2020010665040,ACC SHIPPING LTD,ACC HOUSE,43 THE TERRACE,GRAVESEND,KENT DA12 2BJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,2020010665041,ESSITY UK LTD,SOUTHFIELDS ROAD,"DUNSTABLE, UNITED KINGDOM",LU 6 3EJ,PAUL VALE PHONE +44 161 888 6066,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,2020010665042,ACC SHIPPING LTD,ACC HOUSE,43 THE TERRACE,GRAVESEND,KENT DA12 2BJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,2020010665043,ESSITY UK LTD,SOUTHFIELDS ROAD,"DUNSTABLE, UNITED KINGDOM",LU 6 3EJ,PAUL VALE PHONE +44 161 888 6066,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
notified_party.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   identifier              50000 non-null  int64
 1   notify_party_name       50000 non-null  object
 2   notify_party_address_1  50000 non-null  object
 3   notify_party_address_2  45001 non-null  object
 4   notify_party_address_3  32693 non-null  object
 5   notify_party_address_4  6801 non-null   object
 6   city                    10041 non-null  object
 7   state_province          8291 non-null   object
 8   zip_code                8198 non-null   object
 9   country_code            8659 non-null   object
 10  contact_name            452 non-null    object
 11  comm_number_qualifier   9533 non-null   object
 12  comm_number             9533 non-null   object
dtypes: int64(1), object(12)
memory usage: 5.0+ MB

In [26]:
shipper

,identifier,shipper_party_name,shipper_party_address_1,shipper_party_address_2,shipper_party_address_3,shipper_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001060,LEADTONE COMMUNICATION TECHNOLOIES,"NO.8 XINHUA ROAD XINWU ZONE WUXI,JI",ANGSU,214028 P.R.CHINA,NaN,JIANGSU,NaN,NaN,CN,NaN,NaN,NaN
1,202001061,SUZHOU DONGSHAN PRECISION MANUFACTU,"8 FENGHUANGSHAN RD,DONGSHAN INDUSTR",IAL PART,"WUZHONG DIST,SUZHOU JS",NaN,SHANGHAI,NaN,NaN,CN,NaN,NaN,NaN
2,202001062,DAMCO PHILIPPINES,9/F ONE E-COM CENTER HARBOR DRIVE C,PASAY CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,9769550
3,202001063,CALFURN MANUFACTURING PHILIPPINES I,MANGA ROAD PULUNGBULO,ANGELES CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,6366403
4,202001064,CALFURN MANUFACTURING PHILIPPINES I,MANGA ROAD PULUNGBULO,ANGELES CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,6366403
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020010667548,M. DIAS BRANCO S/A IND. E COM. DE,ALIMENTOS,"RODOVIA BR 116, KM 18 - JABUTI",NaN,NaN,EUSEBIO - CEARA - B,CE,61760-000,BR,NaN,NaN,NaN
49996,2020010667550,"CERAMICA GOMEZ, S.A.","CTRA. RIBESALBES KM,3 P.O. BOX",TEL:964219700 FAX:964255584 A1,NaN,NaN,12006 CASTELLON - S,NaN,12006,ES,NaN,NaN,NaN
49997,2020010667551,KERABEN GRUPO S.A.U.,NIF A12017372,12520 NULES CASTELLON,NaN,NaN,TLF.: 964659500 FAX,NaN,12520,ES,NaN,NaN,NaN
49998,2020010667552,"ECOCERAMIC, CERAMIC TILE INTL SLU","AV MEDITERRANI, N 86 APDO C",12200 ONDA CASTELLON SPAIN,NaN,NaN,S 160,NaN,12200,ES,NaN,NaN,NaN
49999,2020010667553,"TEJAS BORJA, S.A.U","CTRA DE LLIRIA-PEDRALBA, KM.",PH:96 271 72 15 FX:96 278 25 6,NaN,NaN,46160 LLIRIA VALENC,NaN,46160,ES,NaN,NaN,NaN

In [27]:
shipper.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   identifier               50000 non-null  int64
 1   shipper_party_name       50000 non-null  object
 2   shipper_party_address_1  50000 non-null  object
 3   shipper_party_address_2  42991 non-null  object
 4   shipper_party_address_3  32268 non-null  object
 5   shipper_party_address_4  6106 non-null   object
 6   city                     14189 non-null  object
 7   state_province           3936 non-null   object
 8   zip_code                 5965 non-null   object
 9   country_code             13308 non-null  object
 10  contact_name             1062 non-null   object
 11  comm_number_qualifier    9896 non-null   object
 12  comm_number              9892 non-null   object
dtypes: int64(1), object(12)
memory usage: 5.0+ MB

All the contact datasets have consistent schemas. We will be combining them and adding the type column. We will keep all the columns

In [28]:
container

,identifier,container_number,seal_number_1,seal_number_2,equipment_description_code,container_length,container_height,container_width,container_type,load_status,type_of_service
0,202001060,TEMU6512740,O1569143,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
1,202001061,GESU6641198,K8564655,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
2,202001062,OOLU1809656,OOLFEY3491,NaN,G1,2000,806,800,22G1,Loaded,House to House
3,202001063,OOLU9729032,OOLFUB5598,NaN,G1,4000,900,800,45G1,Loaded,House to House
4,202001064,OOLU9418215,OOLFUB5716,NaN,G1,4000,900,800,45G1,Loaded,House to House
...,...,...,...,...,...,...,...,...,...,...,...
49995,2020010631226,NC,NaN,NaN,NaN,0,0,0,NaN,Loaded,NaN
49996,2020010631227,UACU8524608,8649262,HLD8649262,Container,4000,806,800,4310,Loaded,House to House
49997,2020010631228,DFSU6601131,042254,NaN,Container,4000,900,800,4510,Loaded,House to House
49998,2020010631229,CAIU8954732,073874,NaN,Container,4000,900,800,4510,Loaded,House to House
49999,2020010631230,TCNU4049468,066769,NaN,Container,4000,900,800,4510,Loaded,House to House

In [29]:
container.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   identifier                  50000 non-null  int64
 1   container_number            50000 non-null  object
 2   seal_number_1               49335 non-null  object
 3   seal_number_2               3132 non-null   object
 4   equipment_description_code  48687 non-null  object
 5   container_length            50000 non-null  int64
 6   container_height            50000 non-null  int64
 7   container_width             50000 non-null  int64
 8   container_type              44945 non-null  object
 9   load_status                 49999 non-null  object
 10  type_of_service             46114 non-null  object
dtypes: int64(4), object(7)
memory usage: 4.2+ MB

The container dataset will be the majority part of the container table. We will be keeping the following columns.

- identifier
- container_number
- equipment_description_code
- container_length
- container_height
- container_width
- container_type
- load_status
- type_of_service

In [30]:
mark_number

,identifier,container_number,marks_and_numbers_1,marks_and_numbers_2,marks_and_numbers_3,marks_and_numbers_4,marks_and_numbers_5,marks_and_numbers_6,marks_and_numbers_7,marks_and_numbers_8
0,202001060,TEMU6512740,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202001061,GESU6641198,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202001062,OOLU1809656,SKU#:,4960113,DES:,DECORATIVE,TERRACOTTA,VASE BOWL,PO:,21002700PBR
3,202001062,OOLU1809656,QTY:,MADE IN,PHILIPPINES,FOR POTTERY,BARN,WEIGHT:,SKU#:,2963789
4,202001062,OOLU1809656,DES:,BOTTLEBRUSH,FLZ NGHTY,DOG ORNM,PO:,20991407PBR,QTY: 24 PCS,MADE IN THE
...,...,...,...,...,...,...,...,...,...,...
49995,2020010623909,TCNU5071126,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,2020010623910,CAIU9569828,S CODE 8516909000 ACCESSORIES OF BEVERAGE EQU,NM,NaN,NaN,NaN,NaN,NaN,NaN
49997,2020010623911,SEGU4056769,NO MARKS,.,.,.,NaN,NaN,NaN,NaN
49998,2020010623912,BSIU2270321,ROLLAX,DELIVERY NOTE,"80209666,80209667",NaN,NaN,NaN,NaN,NaN
49999,2020010623913,GESU5858511,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
mark_number.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   identifier           50000 non-null  int64
 1   container_number     50000 non-null  object
 2   marks_and_numbers_1  49644 non-null  object
 3   marks_and_numbers_2  26508 non-null  object
 4   marks_and_numbers_3  21524 non-null  object
 5   marks_and_numbers_4  18632 non-null  object
 6   marks_and_numbers_5  16513 non-null  object
 7   marks_and_numbers_6  14935 non-null  object
 8   marks_and_numbers_7  13631 non-null  object
 9   marks_and_numbers_8  12673 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.8+ MB

The mark number dataset will complement the container table. We will keep all the columns.

We will not be filling in any missing value because it's no way to appropriately do so and those values might be missing for a reason. We will keep the original data for the most parts.