In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
header = pd.read_csv('./ams/2020/202001201500/ams__header_2020__202001201500.csv')
bill_info = pd.read_csv('./ams/2020/202001201500/ams__billgen_2020__202001201500.csv')
cargo_desc = pd.read_csv('./ams/2020/202001201500/ams__cargodesc_2020__202001201500.csv')
cosignee = pd.read_csv('./ams/2020/202001201500/ams__consignee_2020__202001201500.csv')
container = pd.read_csv('./ams/2020/202001201500/ams__container_2020__202001201500.csv')
hazmat = pd.read_csv('./ams/2020/202001201500/ams__hazmat_2020__202001201500.csv')
hazmat_class = pd.read_csv('./ams/2020/202001201500/ams__hazmatclass_2020__202001201500.csv')
mark_number = pd.read_csv('./ams/2020/202001201500/ams__marksnumbers_2020__202001201500.csv')
notified_party = pd.read_csv('./ams/2020/202001201500/ams__notifyparty_2020__202001201500.csv')
shipper = pd.read_csv('./ams/2020/202001201500/ams__shipper_2020__202001201500.csv')
tariff = pd.read_csv('./ams/2020/202001201500/ams__tariff_2020__202001201500.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
header

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,weight,weight_unit,measurement,measurement_unit,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination_qualifier,foreign_port_of_destination,conveyance_id_qualifier,conveyance_id,in_bond_entry_type,mode_of_transportation,secondary_notify_party_1,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,202001060,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",18,PKG,5200,Kilograms,0,NaN,Amended,SHANGHAI CHINA,NaN,NaN,NaN,IMO Number/Lloyds Number,9295220,NaN,"Vessel, containerized",APLU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
1,202001061,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",16,PKG,4375,Kilograms,0,NaN,Amended,SHANGHAI CHINA,NaN,NaN,NaN,IMO Number/Lloyds Number,9295220,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
2,202001062,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",568,CTN,1981,Kilograms,0,Cubic Meters,Amended,MANILA,NaN,NaN,NaN,IMO Number/Lloyds Number,9665621,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
3,202001063,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",242,CTN,3431,Kilograms,0,Cubic Meters,Amended,MANILA,NaN,NaN,NaN,IMO Number/Lloyds Number,9665621,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
4,202001064,OOLU,TW,EVER LOYAL,"Savannah, Georgia",2019-09-03,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",317,CTN,1766,Kilograms,0,Cubic Meters,Amended,MANILA,NaN,NaN,NaN,IMO Number/Lloyds Number,9604158,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986072,2020011458712,CHSL,PA,CMA CGM AMAZON,"Los Angeles, California",2019-10-10,Schedule K Foreign Port,"Singapore,Singapore",321,CTN,2650,Kilograms,0,Cubic Meters,New,SEMARANG,NaN,NaN,NaN,Conveyance Name,CMA CGM AMAZON,NaN,"Vessel, containerized",COSU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-10
986073,2020011458713,MXWI,MT,CMA CGM MAGELLAN,"New York, New York",2019-11-29,Schedule K Foreign Port,"Shanghai ,China (Mainland)",393,CTN,4415,Kilograms,0,Cubic Meters,New,SHANGHAI,NaN,NaN,NaN,Conveyance Name,CMA CGM MAGELLAN,NaN,"Vessel, containerized",EGLV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-11
986074,2020011458714,ABFB,HK,SEASPAN AMAZON,"New York, New York",2019-09-24,Schedule K Foreign Port,"Shanghai ,China (Mainland)",1225,PCS,8404,Kilograms,0,Cubic Meters,New,SHANGHAI,NaN,NaN,NaN,Conveyance Name,SEASPAN AMAZON,NaN,"Vessel, containerized",ONEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-04
986075,2020011458715,SSNF,FR,CMA CGM AMERIGO VESPUCC,"Savannah, Georgia",2019-12-09,Schedule K Foreign Port,"Tsingtao,China (Mainland)",43,PKG,18000,Kilograms,0,NaN,New,XINGANG CHINA,NaN,NaN,NaN,IMO Number/Lloyds Number,9454395,NaN,"Vessel, containerized",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-20
986076,2020011458716,APLU,HK,KOTA PERABU,"Long Beach, California",2019-12-22,Schedule K Foreign Port,"Haiphong,Vietnam",1558,PCS,10536,Kilograms,0,Cubic Meters,New,HAIPHONG,NaN,NaN,NaN,IMO Number/Lloyds Number,9793909,NaN,"Vessel, non-container",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-22

In [5]:
header.identifier.unique().size

986077

In [6]:
header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986077 entries, 0 to 986076
Data columns (total 34 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   identifier                             986077 non-null  int64
 1   carrier_code                           986077 non-null  object
 2   vessel_country_code                    986041 non-null  object
 3   vessel_name                            986077 non-null  object
 4   port_of_unlading                       986077 non-null  object
 5   estimated_arrival_date                 986077 non-null  object
 6   foreign_port_of_lading_qualifier       986077 non-null  object
 7   foreign_port_of_lading                 986077 non-null  object
 8   manifest_quantity                      986077 non-null  int64
 9   manifest_unit                          986077 non-null  object
 10  weight                                 986077 non-null  int64
 11  weight_unit                            986077 non-null  object
 12  measurement                            986077 non-null  int64
 13  measurement_unit                       674564 non-null  object
 14  record_status_indicator                986077 non-null  object
 15  place_of_receipt                       986075 non-null  object
 16  port_of_destination                    95414 non-null   object
 17  foreign_port_of_destination_qualifier  6259 non-null    object
 18  foreign_port_of_destination            6274 non-null    object
 19  conveyance_id_qualifier                986077 non-null  object
 20  conveyance_id                          986077 non-null  object
 21  in_bond_entry_type                     95414 non-null   object
 22  mode_of_transportation                 986077 non-null  object
 23  secondary_notify_party_1               356843 non-null  object
 24  secondary_notify_party_2               30988 non-null   object
 25  secondary_notify_party_3               370 non-null     object
 26  secondary_notify_party_4               12 non-null      object
 27  secondary_notify_party_5               0 non-null       float64
 28  secondary_notify_party_6               0 non-null       float64
 29  secondary_notify_party_7               0 non-null       float64
 30  secondary_notify_party_8               0 non-null       float64
 31  secondary_notify_party_9               0 non-null       float64
 32  secondary_notify_party_10              0 non-null       float64
 33  actual_arrival_date                    986077 non-null  object
dtypes: float64(6), int64(4), object(24)
memory usage: 255.8+ MB

Columns to keep for each lading header:

- identifier @int
- carrier_code @str
- vessel_country_code @str
- vessel_name @str
- port_of_unlading @str
- estimated_arrival_date @date
- foreign_port_of_lading_qualifier @str
- foreign_port_of_lading @str
- manifest_quantity @int
- manifest_unit @str
- weight @int
- weight_unit @str
- record_status_indicator @str
- place_of_receipt @str
- port_of_destination @str
- foreign_port_of_destination_qualifier @str
- foreign_port_of_destination @str
- conveyance_id_qualifier @str
- conveyance_id @str
- mode_of_transportation @str
- actual_arrival_date @date

identifier will be the primary key

In [7]:
bill_info

,identifier,master_bol_number,house_bol_number,sub_house_bol_number,voyage_number,bill_type_code,manifest_number,trade_update_date,run_date
0,202001060,APLUSHBW014713,SWOESH1S01451870,NaN,0DB4P,House Bill,1.0,2019-07-17,2020-01-06
1,202001061,APLUSHBW014714,SWOESH1S01451855,NaN,0DB4P,House Bill,1.0,2019-07-17,2020-01-06
2,202001062,OOLU2107899100,NaN,NaN,028E,Regular Bill,398798.0,2020-01-05,2020-01-06
3,202001063,OOLU2107932870,NaN,NaN,028E,Regular Bill,398798.0,2020-01-05,2020-01-06
4,202001064,OOLU2107974500,NaN,NaN,035E,Regular Bill,398773.0,2020-01-05,2020-01-06
...,...,...,...,...,...,...,...,...,...
986072,2020011458712,COSU6213352080,CHSLINA22001053A,NaN,E1MA,House Bill,3136.0,2020-01-13,2020-01-14
986073,2020011458713,EGLV142954552441,MXWISH19120048,NaN,0MB4,House Bill,1.0,2020-01-13,2020-01-14
986074,2020011458714,ONEYSH9FVF806700,ABFBSHA91214876,NaN,015E,House Bill,1.0,2020-01-13,2020-01-14
986075,2020011458715,COSU6229303200,SSNFSPSH20011005,NaN,0MB4F,House Bill,1.0,2020-01-13,2020-01-14
986076,2020011458716,APLUAXK0228420,NaN,NaN,0SX4S,Master Bill,1.0,2020-01-13,2020-01-14

In [8]:
bill_info.identifier.unique().size

986077

In [9]:
bill_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986077 entries, 0 to 986076
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   identifier            986077 non-null  int64
 1   master_bol_number     986077 non-null  object
 2   house_bol_number      433222 non-null  object
 3   sub_house_bol_number  0 non-null       float64
 4   voyage_number         986077 non-null  object
 5   bill_type_code        986077 non-null  object
 6   manifest_number       985099 non-null  float64
 7   trade_update_date     986077 non-null  object
 8   run_date              986077 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 67.7+ MB

Columns to keep for each bill:

- identifier @int
- voyage_number @str
- bill_type_code @str
- manifest_number @float
- trade_update_date @date
- run_date @date

identifier will be the primary key

In [10]:
cargo_desc

,identifier,container_number,description_sequence_number,piece_count,description_text
0,202001060,TEMU6512740,1,18.0,ANTENNA
1,202001061,GESU6641198,1,16.0,ANTENNA
2,202001062,OOLU1809656,1,NaN,DECORATIVE TERRACOTTA VASE BOWL
3,202001062,OOLU1809656,2,9.0,CHRISTMAS ORNAMENT BURI FIBER NAUGHTY DOG
4,202001062,OOLU1809656,3,19.0,DECORATIVE HANDMADE EARTHENWARE TILE WALL ART
...,...,...,...,...,...
2548429,2020011458712,CSNU1142458,1,321.0,WOODEN FURNITURE
2548430,2020011458713,BMOU5793090,1,393.0,PLUSH TOYS . .
2548431,2020011458714,MOFU0773130,1,1225.0,PAPER CUPS CUP SLEEVES PO#114716
2548432,2020011458715,CSLU2077154,1,43.0,GRANITE STONE PRODUCTS INVOICE NO.EC19-EL-N08
2548433,2020011458716,TCNU3464084,1,1558.0,SPLIT BILL FROM: AXK0212768 CONE SPEAKERS FOR ...

In [11]:
cargo_desc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2548434 entries, 0 to 2548433
Data columns (total 5 columns):
 #   Column                       Dtype
---  ------                       -----
 0   identifier                   int64
 1   container_number             object
 2   description_sequence_number  int64
 3   piece_count                  float64
 4   description_text             object
dtypes: float64(1), int64(2), object(2)
memory usage: 97.2+ MB

Columns to keep for each cargo description:

- identifier @int
- container_number @str
- description_text @str

Will probably need to generate the primary key

In [12]:
cosignee

,identifier,consignee_name,consignee_address_1,consignee_address_2,consignee_address_3,consignee_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001060,QUINTEL USA INC.,"33300 DOWE AVE. UNION CITY, CALIFOR","NIA, 94587, USA",NaN,NaN,OAKLAND,CA,94587,US,NaN,NaN,NaN
1,202001061,QUINTEL USA INC.,"33300 DOWE AVE. UNION CITY, CALIFOR","NIA, 94587, USA",NaN,NaN,OAKLAND,CA,94587,US,NaN,NaN,NaN
2,202001062,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
3,202001063,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
4,202001064,WILLIAMS-SONOMA SINGAPORE PTE LIMIT,7755 POLK LANE,OLIVE BRANCH MS,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,8925523
...,...,...,...,...,...,...,...,...,...,...,...,...,...
758989,2020011458711,WATER MATRIX INC.,7930 HUNTINGTON ROAD UNIT 3 VAUGHAN,",ONTARIO,CANADA L4H 4M8",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758990,2020011458713,"INTERNATIONAL IMPORTS.,INC","11913 WEST GATE STREET,OVERLAND","PARK KS 66213,USA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758991,2020011458714,UNITED SUPPLY SYSTEMS,"30 STEWART AVENUE, HUNTINGTON,",11743 PHONE: (516) 496-0000,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758992,2020011458715,MATTHEWS GRANITE CO.DBA,EVERLASTING GRANITE2 NORTH,NaN,SHORE CENTER,NaN,PITTSBURGH,PA,15212,US,NaN,NaN,NaN
758993,2020011458716,"KUEHNE + NAGEL,INC.",7200 ALUM CREEK DRIVE SUITE D,COLUMBUS OH 43217 UNITED STATES,AGENT OF BLUE ANCHOR AMERICA LINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
cosignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758994 entries, 0 to 758993
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   identifier             758994 non-null  int64
 1   consignee_name         758994 non-null  object
 2   consignee_address_1    758986 non-null  object
 3   consignee_address_2    612542 non-null  object
 4   consignee_address_3    398821 non-null  object
 5   consignee_address_4    70670 non-null   object
 6   city                   213829 non-null  object
 7   state_province         183858 non-null  object
 8   zip_code               178387 non-null  object
 9   country_code           196224 non-null  object
 10  contact_name           15570 non-null   object
 11  comm_number_qualifier  154880 non-null  object
 12  comm_number            154721 non-null  object
dtypes: int64(1), object(12)
memory usage: 75.3+ MB

In [14]:
cosignee.identifier.unique().size

748286

Columns to keep for each cosignee:

- identifier @int
- consignee_name @str
- consignee_address_1 @str
- consignee_address_2 @str
- consignee_address_3 @str
- consignee_address_4 @str
- city @str
- state_province @str
- zip_code @str
- country_code @str
- contact_name @str
- comm_number_qualifier @str
- comm_number @str

Will probably need to generate the primary key

In [15]:
container

,identifier,container_number,seal_number_1,seal_number_2,equipment_description_code,container_length,container_height,container_width,container_type,load_status,type_of_service
0,202001060,TEMU6512740,O1569143,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
1,202001061,GESU6641198,K8564655,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
2,202001062,OOLU1809656,OOLFEY3491,NaN,G1,2000,806,800,22G1,Loaded,House to House
3,202001063,OOLU9729032,OOLFUB5598,NaN,G1,4000,900,800,45G1,Loaded,House to House
4,202001064,OOLU9418215,OOLFUB5716,NaN,G1,4000,900,800,45G1,Loaded,House to House
...,...,...,...,...,...,...,...,...,...,...,...
1572419,2020011458712,CSNU1142458,ID646888,NaN,Container,2000,806,800,22G1,Loaded,House to House
1572420,2020011458713,BMOU5793090,EMCJSH1799,NaN,Container,4000,900,800,45G0,Loaded,NaN
1572421,2020011458714,MOFU0773130,CNB742374,NaN,Openings at one end or both ends.,4000,806,800,42G1,Loaded,Container Yard
1572422,2020011458715,CSLU2077154,M430045,NaN,Closed Container,0,0,0,NaN,Loaded,Pier to Pier
1572423,2020011458716,TCNU3464084,NaN,NaN,Container,4000,900,800,4500,Loaded,Pier to Pier

In [16]:
container.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572424 entries, 0 to 1572423
Data columns (total 11 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   identifier                  1572424 non-null  int64
 1   container_number            1572275 non-null  object
 2   seal_number_1               1510924 non-null  object
 3   seal_number_2               112553 non-null   object
 4   equipment_description_code  1462839 non-null  object
 5   container_length            1572424 non-null  int64
 6   container_height            1572424 non-null  int64
 7   container_width             1572424 non-null  int64
 8   container_type              1396577 non-null  object
 9   load_status                 1571183 non-null  object
 10  type_of_service             1394886 non-null  object
dtypes: int64(4), object(7)
memory usage: 132.0+ MB

In [17]:
container.container_number.unique().size

892209

In [24]:
container['identifier_and_container_number'] = container.identifier.astype('str') + container.container_number

In [25]:
container.identifier_and_container_number.unique().size

1572276

Columns to keep for each container:

- identifier @int
- container_number @str
- equipment_description_code @str
- container_length @int
- container_height @int
- container_width @int
- container_type @str
- load_status @str
- type_of_service @str

Will probably need to generate the primary key

In [37]:
hazmat

,identifier,container_number,hazmat_sequence_number,hazmat_code,hazmat_class,hazmat_code_qualifier,hazmat_contact,hazmat_page_number,hazmat_flash_point_temperature,hazmat_flash_point_temperature_negative_ind,hazmat_flash_point_temperature_unit,hazmat_description
0,2020010618,CMAU4677843,1,3077,NaN,U,NaN,NaN,000,NaN,NaN,NaN
1,2020010619,CMAU4677843,1,3077,NaN,U,NaN,NaN,000,NaN,NaN,NaN
2,2020010622,CMAU4677843,1,1197,NaN,U,NaN,NaN,000,NaN,NaN,NaN
3,20200106398,BSIU2619753,1,3288,6.1,I,NaN,NaN,000,NaN,NaN,SODIUM DICHROMATE CRYSTALS
4,20200106398,TGCU2139859,1,3288,6.1,I,NaN,NaN,000,NaN,NaN,SODIUM DICHROMATE CRYSTALS
...,...,...,...,...,...,...,...,...,...,...,...,...
34191,2020011457269,SEGU5258506,1,2211,9,U,800-424-9300,FASI,000,NaN,NaN,"POLYMERIC BEADS, EXPANDABLE"
34192,2020011457269,BSIU9443795,1,2211,9,U,800-424-9300,FASI,000,NaN,NaN,"POLYMERIC BEADS, EXPANDABLE"
34193,2020011457802,6931988,1,2794,8,I,NaN,NaN,000,NaN,NaN,BATTERIES WET FILLED WITH ACID
34194,2020011458490,SEGU8106580,1,UN1202,3-07,U,PERS CONTACT 8834,NaN,000,NaN,NaN,GAS OIL DIESEL FUEL N/A
34195,2020011458611,TCNU4728345,1,3491,6.1,U,NaN,NaN,000,NaN,NaN,NaN

In [32]:
hazmat.hazmat_class.unique()

array([nan, '6.1', '2.1', '3', '9', '8', '5.1', '4.1', '1.4G', '2.2', '1',
       '4.3', '2.3', '2', '5.2', '4.2', '1.3G', '1.3C', '3-07', '1.4S',
       '1.3', '1.4', '8(3)', '7', 'F-A,', '2-10', 'F-A', '9.0', 'F-E,',
       'III', '3(8)', '2-08', '2-04', '5.7', '3.3', '2-07', '8.0', 'F-C,',
       'F-E', '6', '15', '3.0', 'FA-S', 'F-D,', 'F-C', '8-10', '1.1D',
       '08'], dtype=object)

In [33]:
hazmat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34196 entries, 0 to 34195
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   identifier                                   34196 non-null  int64
 1   container_number                             34196 non-null  object
 2   hazmat_sequence_number                       34196 non-null  int64
 3   hazmat_code                                  34196 non-null  object
 4   hazmat_class                                 22798 non-null  object
 5   hazmat_code_qualifier                        34196 non-null  object
 6   hazmat_contact                               17152 non-null  object
 7   hazmat_page_number                           11046 non-null  object
 8   hazmat_flash_point_temperature               34196 non-null  object
 9   hazmat_flash_point_temperature_negative_ind  2709 non-null   object
 10  hazmat_flash_point_temperature_unit          13428 non-null  object
 11  hazmat_description                           21271 non-null  object
dtypes: int64(2), object(10)
memory usage: 3.1+ MB

Columns to keep for each hazmat:

- identifier @int
- container_number @str
- hazmat_code @str
- hazmat_class @str
- hazmat_code_qualifier @str
- hazmat_contact @str
- hazmat_page_number @str
- hazmat_flash_point_temperature @str
- hazmat_flash_point_temperature_negative_ind @str
- hazmat_flash_point_temperature_unit @str
- hazmat_description @str

Will probably need to generate the primary key

In [38]:
hazmat_class

,identifier,container_number,hazmat_sequence_number,hazmat_classification
0,202001063287,TRHU3783906,1,3
1,2020010615887,HJMU4423831,1,6.1
2,2020010616465,TEMU8281785,1,3
3,2020010626242,TCKU2355870,1,6.1
4,2020010626248,TCKU2355870,1,6.1
...,...,...,...,...
905,2020011551841,KOSU2213955,4,"FLAMMABLE LIQUID, N.O.S."
906,2020011552692,SEGU7608537,1,"BATTERIES, WET, FILLED WI"
907,2020011410520,BSIU9650663,1,ACETYL METHYL CARBINOL
908,2020011412827,NRSU3717097,1,8
909,2020011458490,SEGU8106580,1,GAS OIL DIESEL FUEL

In [31]:
hazmat_class.hazmat_classification.unique()

array(['3', '6.1', '(2-METHYL-2-PENTENOIC ACID)',
       '(CONTAINS BENZYL BENZOATE)', '(TRANS-2-HEXEN-1-YL ACETATE)',
       '(TRANS-2-HEXENAL)', '(2-METHYL-3-FURANTHIOL)',
       '(2,3-PENTANEDIONE)', '4.3', 'BATTERY FLUID, ACID', 'PG II',
       'CORROSIVE LIQUID ACIDIC ORGANI', '2', 'CHRYSOIDINE',
       'OCTAHYDRO TETRAMETHYL NAPHTHAL ENYL ETHANONE',
       'CONTAINS HEXAMETHYL INDENO PYR ANE',
       'METHACRYLIC ACID-TERT-BUTYLEST ER, STABILIZED',
       '(2,3-HEXANEDIONE)', '(CONTAINS ETHANOL)',
       '(2-METHOXY-3-METHYL PYRAZINE)', 'FUEL, AVIATION, TURBINE E',
       'GASOLINE', '8', 'GAS OIL DIESEL FUEL', 'COMBUSTIBLE ENGINE', '9',
       '3 8', 'SPRAYPAINT AEROSOLS EACH 500 M L', 'LIMONENE',
       '1 703 527 3887', 'CHEMTREC 1 703 527 3887', '1 336 632 7745',
       'CHEMTREC 17035273887', '1 352 323 3500 BENZ A H ANTHRACENE',
       'METHOXYMETHANE', 'L', '12152070061', '80 ACCUMULATORS CONTAINING',
       '1 856 384 7050', '1 856 384 7050 ACRYLIC ACID STABILIZED',
       '1 856 384 7050 A PETROLEUM HEAVY AROMATIC', '1 215 207 0061',
       '58KGS NET QTY NITROGEN', 'CHEMTREC 001 703 527 3887', 'T',
       '1 703 527 3887 EXEN 1 YL 3 BUTEN 2 ONE', 'E', '01204875483',
       '01204875483 ANE TRIACRYLATE', '1 609 744 2765',
       '1 703 527 3887 ULFURIZED HEAVY', 'Packing code',
       'Packing code III', 'Packing code II', 'METHANE, REFRIGERATED LIQ',
       'DIPENTENE', 'HEXYL CINNAMAL', 'HEXYL SALICYLATE',
       'HEXAMETHYLINDANOPYRAN', 'BATTERIES, WET, FILLED WITH AC',
       'LABEL1:2.2', 'LQ', 'ISOBUTYRIC ACID', 'PERFUMERY PRODUCTS',
       'ENGINE, INTERNAL COMBUSTION or', 'VEHICLE, FLAMMABLE LIQUID POWE',
       'C.I. PIGMENT RED 169, 2-(2-HEP TADEC-8-ENYL-2-IMIDAZOLIN-1-YL',
       'PAINT', 'BLACKCURRANT DIST 290115', '5.1',
       'NATURAL GAS REFRIDGERATED LIQU', 'MARINE POLLUTANT', '1',
       'OCTADECYLAMINE, MIXTURE',
       "1,1'-(1,3-PHENYLENE)BIS-1H-2,5 -DIONE, MIXTURE", 'PRINTING INK',
       'FLAMMABLE LIQUID, N.O.S.', 'FLAMMABLE LIQUID, TOXIC,',
       'ACETONE (ACETONE SOLUTION', '2.1', 'ELEVATED TEMPERATURE LIQU',
       'KATALCO 59 5M', 'C.I.SOLVENT YELLOW 89', '18779864267', 'ESIN',
       'CHEMTREC 1 703 527 3887 CID ESTER', 'CHEMTREC 1 703 527 3887 TE',
       'CHEMTREC 1 703 527 3887 O O BIS 2 ETHYLHEXYL AND ISOB',
       '13523233500', 'CHEMTREC 1 703 527 3887 LAMIDE',
       'CHEMTREC 1 703 527 3887 L 1 4 C10 13 ALKYLPHENYL',
       'CHEMTREC 1 703 527 3887 THYL 1 3 PROPANEDIYL DIACRYL',
       '1 877 986 4267', 'AMMONIUM NITRATE EMULSION, 5.1',
       'NITROUS OXIDE', 'ARGON, COMPRESSED', 'HELIUM, COMPRESSED',
       'AEROSOLS', 'PROPANE', 'ACETYL METHYL CARBINOL', '2.2',
       'ISOAMYL SALICYLATE', 'FE/SE', 'FE/SD',
       'LIQUID NATURAL GAS RESIDUE', 'ADHESIVES',
       'CARBON DIOXIDE, REFRIGERA', 'MIXTURE WITH DISODIUM METASILI CATE',
       'LIFE-SAVING APPLIANCES, S',
       'CHEMTREC 1 703 527 3887 E AND ARSENIC',
       '13523233500 BENZ A H ANTHRACENE', 'ASS 8 PGII IMDG CODE F A',
       'CHEMTREC 1 703 527 3887 0 0 BIS 2 ETHYLHEXYLAND ISOBU',
       'CHEMTREC 1 703 527 3887 O O BIS ISO BU AND PENTYL ES',
       'PRIMECOAT Z 838 4', 'D', 'CHEMTREC 1 703 527 3887 TTY ALCOHOL',
       '18002628200', '18002628200 ISOALKANES CYCLICS 5 N HE',
       'CHEMTREC 1 703 527 3887 MINE', '300 GS NET QTY NITROGEN',
       'FURIZED HEAVY WHITE SPIRIT', 'CHEMTREC 1 703 527 3887 ARSENIC',
       'TE', 'TE 2 METHYLISOTHIAZOL 3 2H', 'TE 2 OCTYL 2HISOTHIAZOL 3 ON',
       'DISULFIDE', 'ATED NAPHTHA NAPHTHA PETRO',
       'ALCOHOL ISOPROPANOL ACETON', 'NES ISOALKANES CYCLICS 2',
       '1 703 527 3887 E 3 II D E SPECIAL PRO',
       'CHEMTREC 1 703 527 3887 L 1 4 C10 13 ALKYLPHENYL D',
       'CHEMTREC 1 703 527 3887 THYLAMINE BIS 2 DIMETHYLAMINO',
       'ATE TRIPHENYL PHOSPHATE 25', 'TE TRIPHENYL PHOSPHATE 2 5',
       'E 3 1 TRIPHENYL PHOSPHATE', '1 813 748 0573', '01304 209 954',
       'ENVIRONMENTALLY HAZARDOUS', 'CHLORINE', 'GARY BERZINS', '4.2',
       'BIS(2,2,6,6-TETRAMETHYL-4-PIPE RIDYL) SEBACATE',
       'DITHIOPHOSPHORIC ACID ESTER',
       'ALCOHOLS; C-16-18 AND C18 UNSA TD:; ETHOXYLATES',
       'ANHYDROUS AMMONIA', '2.3', '-', 'III', 'BATTERIES',
       'HYDROGEN, COMPRESSED', 'NITROGEN, COMPRESSED', 'AIR, COMPRESSED',
       'COMPRESSED GAS, N.O.S.', '2.1 8', 'ACETYLENE, DISSOLVED',
       'OXYGEN, COMPRESSED', 'ISOPROPANOL (ISOPROPYL AL',
       'BATTERIES, WET, FILLED WI'], dtype=object)

In [34]:
hazmat_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   identifier              910 non-null    int64
 1   container_number        910 non-null    object
 2   hazmat_sequence_number  910 non-null    int64
 3   hazmat_classification   910 non-null    object
dtypes: int64(2), object(2)
memory usage: 28.6+ KB

Columns to keep for each hazmat classification:

- identifier @int
- container_number @str
- hazmat_classification @str

Will probably need to generate the primary key

In [40]:
mark_number

,identifier,container_number,marks_and_numbers_1,marks_and_numbers_2,marks_and_numbers_3,marks_and_numbers_4,marks_and_numbers_5,marks_and_numbers_6,marks_and_numbers_7,marks_and_numbers_8
0,202001060,TEMU6512740,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202001061,GESU6641198,NO MARKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202001062,OOLU1809656,SKU#:,4960113,DES:,DECORATIVE,TERRACOTTA,VASE BOWL,PO:,21002700PBR
3,202001062,OOLU1809656,QTY:,MADE IN,PHILIPPINES,FOR POTTERY,BARN,WEIGHT:,SKU#:,2963789
4,202001062,OOLU1809656,DES:,BOTTLEBRUSH,FLZ NGHTY,DOG ORNM,PO:,20991407PBR,QTY: 24 PCS,MADE IN THE
...,...,...,...,...,...,...,...,...,...,...
2039499,2020011458712,CSNU1142458,NO MARKING,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039500,2020011458713,BMOU5793090,BJ,TOY,IICBJ 2020-1M,NaN,NaN,NaN,NaN,NaN
2039501,2020011458714,MOFU0773130,N M,NO MARKS,NO MARKS,NaN,NaN,NaN,NaN,NaN
2039502,2020011458715,CSLU2077154,EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039503,2020011458716,TCNU3464084,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Doesn't look like a useful table. Will exclude it for now.

In [41]:
notified_party

,identifier,notify_party_name,notify_party_address_1,notify_party_address_2,notify_party_address_3,notify_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001062,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202001062,EXPEDITORS INTERNATIONAL OF WASHING,"6005 FREEPORT AVE., SUITE 102",MEMPHIS TN,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202001063,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202001063,EXPEDITORS INTERNATIONAL OF WASHING,"6005 FREEPORT AVE., SUITE 102",MEMPHIS TN,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202001064,DAMCO USA INC.,9300 ARROWPOINT BLVD.,CHARLOTTE NC,UNITED STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
760427,2020011458710,THE WICKERY,"30 FLINT RD,TOMS RIVER, NJ 08757",US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760428,2020011458713,"INTERNATIONAL IMPORTS.,INC","11913 WEST GATE STREET,OVERLAND","PARK KS 66213,USA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760429,2020011458714,"J.M. RODGERS CO.,INC.","1975 LINDEN BLVD ELMONT,NY 11003,US",FAX#516 872 5589 PHONE#516 872 5570,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760430,2020011458715,MATTHEWS GRANITE CO.DBA,EVERLASTING GRANITE2 NORTH,NaN,SHORE CENTER,NaN,PITTSBURGH,PA,15212,US,NaN,NaN,NaN
760431,2020011458716,"KUEHNE + NAGEL,INC.",7200 ALUM CREEK DRIVE SUITE D,COLUMBUS OH 43217 UNITED STATES,AGENT OF BLUE ANCHOR AMERICA LINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
notified_party.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760432 entries, 0 to 760431
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   identifier              760432 non-null  int64
 1   notify_party_name       760429 non-null  object
 2   notify_party_address_1  760427 non-null  object
 3   notify_party_address_2  674624 non-null  object
 4   notify_party_address_3  476707 non-null  object
 5   notify_party_address_4  97122 non-null   object
 6   city                    149334 non-null  object
 7   state_province          122713 non-null  object
 8   zip_code                122881 non-null  object
 9   country_code            131814 non-null  object
 10  contact_name            12740 non-null   object
 11  comm_number_qualifier   153002 non-null  object
 12  comm_number             152940 non-null  object
dtypes: int64(1), object(12)
memory usage: 75.4+ MB

In [38]:
notified_party.identifier.unique().size

684295

Columns to keep for each notified party:

- identifier @int
- notify_party_name @str
- notify_party_address_1 @str
- notify_party_address_2 @str
- notify_party_address_3 @str
- notify_party_address_4 @str
- city @str
- state_province @str
- zip_code @str
- country_code @str
- contact_name @str
- comm_number_qualifier @str
- comm_number @str

Will probably need to generate the primary key

In [42]:
shipper

,identifier,shipper_party_name,shipper_party_address_1,shipper_party_address_2,shipper_party_address_3,shipper_party_address_4,city,state_province,zip_code,country_code,contact_name,comm_number_qualifier,comm_number
0,202001060,LEADTONE COMMUNICATION TECHNOLOIES,"NO.8 XINHUA ROAD XINWU ZONE WUXI,JI",ANGSU,214028 P.R.CHINA,NaN,JIANGSU,NaN,NaN,CN,NaN,NaN,NaN
1,202001061,SUZHOU DONGSHAN PRECISION MANUFACTU,"8 FENGHUANGSHAN RD,DONGSHAN INDUSTR",IAL PART,"WUZHONG DIST,SUZHOU JS",NaN,SHANGHAI,NaN,NaN,CN,NaN,NaN,NaN
2,202001062,DAMCO PHILIPPINES,9/F ONE E-COM CENTER HARBOR DRIVE C,PASAY CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,9769550
3,202001063,CALFURN MANUFACTURING PHILIPPINES I,MANGA ROAD PULUNGBULO,ANGELES CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,6366403
4,202001064,CALFURN MANUFACTURING PHILIPPINES I,MANGA ROAD PULUNGBULO,ANGELES CITY .,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,6366403
...,...,...,...,...,...,...,...,...,...,...,...,...,...
733399,2020011458711,"GUANGDONG XIANGHUA TECHNOLOGY CO.,L",DONGLONG INDUSTRIAL ZONE FENGTANG,CHAOZHOU GUANGDONG CHINA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733400,2020011458713,ANHUI LIGHT INDUSTRIES,"INTERNATIONAL CO.,LTD. ALIC CENTER",8 TIANDA ROAD,"HEFEI, ANHUI, CHINA, 230088",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733401,2020011458714,HEFEI HENGXIN ENVIRONMENTAL,"SCIENCE & TECHNOLOGY.,LTD.","NO.36 SHUANGFENG ROAD,SHUANGFENG","INDUSTRIAL PARK,HEFEI,CHINA",EL:86-551-65657730 CN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733402,2020011458715,XIAMEN MAGIC STONE COMPANY LIMITED,"NO.7109,ZONE A,MINNAN CULTURE",NaN,"TOWN,NO.350,CHANGLE ROAD,HULI",NaN,XIAMEN,NaN,NaN,CN,NaN,NaN,NaN
733403,2020011458716,"BRANCH OF KUEHNE+NAGEL CO.,LTD IN","HA NOI CITY 19F,VCCI TOWER 09 DAO","DUY ANH ST.,PHUONG MAI WARD,DONG DA","DIS,HANOI VIETNAM TAX 0312658789002",NaN,NaN,NaN,NaN,NaN,NaN,Telephone Number,AGENT OF BLUE ANCHOR AMERICA LINE

Columns to keep for each shipper:

- identifier @int
- shipper_name @str
- shipper_address_1 @str
- shipper_address_2 @str
- shipper_address_3 @str
- shipper_address_4 @str
- city @str
- state_province @str
- zip_code @str
- country_code @str
- contact_name @str
- comm_number_qualifier @str
- comm_number @str

Will probably need to generate the primary key

In [43]:
tariff

,identifier,container_number,description_sequence_number,harmonized_number,harmonized_value,harmonized_weight,harmonized_weight_unit
0,2020010624,BMOU5228886,1,8451.0,0.0,6240,Kilograms
1,2020010625,DFSU6037823,1,8451.0,0.0,3720,Kilograms
2,2020010625,OOCU7660692,1,8451.0,0.0,3720,Kilograms
3,2020010645,CCLU4588527,1,37.0,0.0,11186,Kilograms
4,2020010647,SZLU9393339,1,37.0,0.0,18496,Kilograms
...,...,...,...,...,...,...,...
855885,2020011458685,TEMU9366341,1,80.0,NaN,1,Kilograms
855886,2020011458685,BMOU9288651,1,80.0,NaN,1,Kilograms
855887,2020011458688,DFSU2714973,1,71.0,96.0,25482,Kilograms
855888,2020011458690,DFSU2813106,1,71.0,89.0,25449,Kilograms
855889,2020011458691,NC,1,NaN,0.0,300000,Kilograms

In [40]:
tariff['identifier_and_container_number'] = tariff['identifier'].astype('str') + tariff['container_number']

In [41]:
tariff['identifier_and_container_number'].unique().size

505817

In [42]:
tariff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855890 entries, 0 to 855889
Data columns (total 8 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   identifier                       855890 non-null  int64
 1   container_number                 855890 non-null  object
 2   description_sequence_number      855890 non-null  int64
 3   harmonized_number                781518 non-null  float64
 4   harmonized_value                 834608 non-null  float64
 5   harmonized_weight                855890 non-null  int64
 6   harmonized_weight_unit           569221 non-null  object
 7   identifier_and_container_number  855890 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 52.2+ MB

Columns to keep for each tariff:

- identifier @int
- container_number @str
- harmonized_number @float
- harmonized_value @float
- harmonized_weight @float
- harmonized_weight_unit @str

Will probably need to generate the primary key

In [46]:
container[container.container_number == 'NC']

,identifier,container_number,seal_number_1,seal_number_2,equipment_description_code,container_length,container_height,container_width,container_type,load_status,type_of_service,identifier_and_container_number,unique_number
81,2020010670,NC,NaN,NaN,Container,0,0,0,NaN,Loaded,NaN,2020010670NC,2020010670NCnannan
281,20200106237,NC,NaN,NaN,Non-containerized,0,0,0,NaN,Empty,NaN,20200106237NC,20200106237NCnannan
419,20200106348,NC,NaN,NaN,Non-containerized,0,0,0,NaN,Empty,NaN,20200106348NC,20200106348NCnannan
420,20200106349,NC,NaN,NaN,Non-containerized,0,0,0,NaN,Empty,NaN,20200106349NC,20200106349NCnannan
421,20200106350,NC,NaN,NaN,Non-containerized,0,0,0,NaN,Empty,NaN,20200106350NC,20200106350NCnannan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571488,2020011458575,NC,NaN,NaN,Non-containerized,0,0,0,NaN,Loaded,NaN,2020011458575NC,2020011458575NCnannan
1572166,2020011458647,NC,NaN,NaN,NaN,0,0,0,NaN,Loaded,NaN,2020011458647NC,2020011458647NCnannan
1572219,2020011458662,NC,NaN,NaN,"Vessel, Ocean, Rollon Rolloff",0,0,0,NaN,Empty,Non Containerized,2020011458662NC,2020011458662NCnannan
1572388,2020011458687,NC,NaN,NaN,NaN,0,0,0,NaN,Loaded,NaN,2020011458687NC,2020011458687NCnannan
1572392,2020011458691,NC,NONE,NaN,Container,4000,806,800,NaN,Loaded,Container Station,2020011458691NC,2020011458691NCNONEnan